{% extends "base.html" %}
{% load tz %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    {% now "Y-m-d" as current_date %}
    <div class="col-md-12">
        <h1 align="center">Новостной портал</h1>
    </div>
    <div class="co-md-12">
        {% if news_list %}
            <ul style="list-style-type: none;">
                {% for news in news_list %}
                    <li style="padding: 5px;">
                        <div  class="card border-info">
                            <ul class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-info list-group-item-action" href="news/{{ news.id }}">
                                    <h2> {{ news.title }} </h2>
                                </a>
                                {% if current_date == news.date %}
                                <a class="list-group-item list-group-item-info list-group-item-action" href="news/{{ news.id }}">
                                    <h5> {{ news.summary }} </h5>
                                </a>
                                {% else %}
                                    <a class="list-group-item list-group-item-action" href="news/{{ news.id }}">
                                        <h5> {{ news.summary }} </h5>
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2> Новостей пока что нет </h2>
        {% endif %}
    </div>
{% endblock %}