{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12" align="Center"> Вы действительно хотите удалить новость? </div>
        <div class="col-md-6 ">
            <a class="btn btn-primary" href="../" role="button"> Нет </a>
        </div>
        <div class="col-md-6 ">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary" role="button" type="submit"> Да </button>
            </form>
        </div>
    </div>
{%endblock %}